next-dev/node_modules

next-dev/.next/
next-dev/out/

# production
next-dev/build


# local env files
next-dev/.env.local
next-dev/.env.development.local
next-dev/.env.test.local
.env.production.local

# vercel
next-dev/.vercel

graphql-server/node_modules
graphql-server/.env
